<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>候选人列表预览</title>
<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="/css/base.css">
<link rel="stylesheet" href="/css/add.css">
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div class="topNav common-width">
    <button class="nav-btn" onclick="window.location.href='/web/addpos';" >+发布职位</button>
    <button class="nav-btn" onclick="window.location.href='/web/person_info';"  >+上传简历</button>
    <button class="nav-btn" onclick="window.location.href='/web/position_list';"  >职位列表</button>
    <button class="nav-btn" style="color:#008fd5;background: #EEE;"  >候选人列表</button>
</div>
<div style="padding-top:10px;" >
<table class="table table-bordered">
    <thead>
        <tr>
            <th>姓名</th>
            <th>应聘职位</th>
            <th>简历</th>
        </tr>
    </thead>
    <tbody id="J_tbody" >

    </tbody>
</table>
</div>
<div class="modal bs-example-modal-lg" id="J_client_pop" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span id="J_client_close" aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myLargeModalLabel"><span id="J_client_name" ></span></h4>
      </div>
      <div class="modal-body">
        <h3>公司信息</h3>
        <textarea rows="6" cols="6" style="width:100%;border-radius:6px;height:300px;" id="J_client_txt" ></textarea>
        <div class="" style="text-align: right;padding-top:10px;" >
          <span class="err" id="client_err" ></span>
          <a href="javascript:;" class="btn btn-primary" id="J_submit_client" role="button">确定</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script>

let nowClient='';

(async function(){

    let res = await fetch('/web/view/person/list')
    let data = await res.json();
    let J_tbody = document.getElementById('J_tbody')
    console.log(data)

    for( let r = 0; r < data.length; r ++ ){
        let newTr = document.createElement('tr')
        let item = data[r];
        let str = `
            <td><a>${item.username}</a></td>
            <td>${item.pos}/${item.subpos}</td>
            <td><a download href="/${item.href.replace('static/', '')}" style="color:blue;" >附件简历</a></td>
        `;
        newTr.innerHTML = str;
        J_tbody.appendChild(newTr)
    }

})();


</script>
</body>
</html>
